header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 300px;
  padding: 20px 0;
  color: #111;
}

header #header {
  display: flex;
  justify-content: center;
  width: 400px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #eee;
}

header h1 {
  margin: 0;
}