/*=============================== 
 DIV CONTAINER 
===============================*/
div#ProjCadastrados {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  padding-bottom: 20px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

div#ProjCadastrados header {
    border: 1px solid red;
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
  color: #444;
}

div#ProjCadastrados div.description {
  display: block;
  width: 600px;
  margin: 15px auto;
  text-align: justify;
  text-indent: 30px;
  color: rgba(0, 0, 0, 0.6);
}

/*=============================== 
 FLEX CONTAINER 
===============================*/
div#ProjCadastrados div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*=============================== 
 MENU
===============================*/
div#ProjCadastrados div.flex-container div.menu {
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 8px 0 0 0;
  width: 200px;
  margin: 0 5px 0 15px;
}

div#ProjCadastrados div.flex-container div.menu h4 {
  background-color: #333;
  border: 2px solid #333;
  border-radius: 8px 0 0 0;
  color: #ddd;
  padding: 5px;
}

div#ProjCadastrados div.flex-container div.menu input {
  margin: 0 10px;
}

div#ProjCadastrados div.flex-container div.menu input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;

  margin-right: 5px;
}

div#ProjCadastrados div.flex-container div.menu input:checked {
  border: 6px solid #333;
}

div#ProjCadastrados div.flex-container div.menu label {
  margin-right: 10px;
}

/*=============================== 
 GRÁFICO 
===============================*/
div#ProjCadastrados div.plot1 {
  border: 1px solid #777;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  width: 400px;
}
