#ProjCadastrados {
    --main-height: 320px;
}

/*=============================== 
 DIV CONTAINER 
===============================*/
div#ProjCadastrados header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
  color: #444;
}

div#ProjCadastrados div.description {
  display: block;
  width: 600px;
  margin: 15px auto;
  text-align: justify;
  text-indent: 30px;
  color: rgba(0, 0, 0, 0.6);
}

/*=============================== 
 FLEX CONTAINER 
===============================*/
div#ProjCadastrados div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*=============================== 
 MENU
===============================*/
div#ProjCadastrados div.flex-container div.menu {
  width: 200px;
  height: var(--main-height);

  border: 1px solid #777;
  background-color: #fff;
  border-radius: 8px 0 0 0;
  margin-right: 7px;
}

div#ProjCadastrados div.flex-container div.menu h4 {
  background-color: #333;
  border: 2px solid #333;
  border-radius: 8px 0 0 0;
  color: #ddd;
  padding: 5px;
}

div#ProjCadastrados div.flex-container div.menu input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;

  margin: 0 10px;
  margin-right: 5px;
}

div#ProjCadastrados div.flex-container div.menu input:checked {
  border: 6px solid #333;
}

div#ProjCadastrados div.flex-container div.menu label {
  margin-right: 10px;
}

/*=============================== 
 GRÁFICO 
===============================*/
div#ProjCadastrados div.plot1 {
  width: 600px;
  height: var(--main-height);

  border: 1px solid #777;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

/*=============================== 
 TOOLTIP
===============================*/
div#ProjCadastrados .tooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
}