.graphTitle {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  color: #444;
}

.descriptionGraph {
  display: block;
  width: 600px;
  margin: 15px auto;
  text-align: justify;
  text-indent: 30px;
  color: rgba(0, 0, 0, 0.6);
}

div.plotStatus {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

div.plotStatus canvas {
  margin: 10px;
}
